html {
  width: 100%;
  height: 100%;
  --fifty: #f8fafc;
  --one: #f1f5f9;
  --two: #e2e8f0;
  --three: #cbd5e1;
  --four: #94a3b8;
  --five: #64748b;
  --six: #475569;
  --seven: #334155;
  --eight: #1e293b;
  --nine: #0f172a;
  --nineFifty: #020617;
  --bgClear: #1e293bd6;
  --superLightRed: #fef2f2;
  --lightRed: #fecaca;
  --medRed: #f87171;
  --darkRed: #991b1b;
  --superDarkRed: #7f1d1d;
  --sideBar: #dc2626;
  --text: #450a0a;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--two);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

#root {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.header {
  width: 1500px;
  background-color: var(--superDarkRed);
  height: 100px;
  display: flex;
  position: relative;
}

.help-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--superDarkRed);
  border: none;
  font-size: 1.3em;
  color: var(--medRed);
  font-weight: bolder;
}

.help-btn:hover {
  color: var(--superLightRed);
  cursor: pointer;
}

.header-logo {
  width: 500px;
  height: 100px;
  margin-left: 10px;
  cursor: pointer;
}

nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

nav button {
  /* transform: translateY(3px); */
  width: 150px;
  height: 40px;
  font-size: 1.1em;
  background-color: var(--superLightRed);
  border: 3px solid var(--superDarkRed);
  border-bottom: 3px solid var(--superLightRed);
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: var(--superDarkRed);
}

nav button:hover {
  cursor: pointer;
  background-color: var(--lightRed);
  border-bottom: 3px solid var(--lightRed);
}

.main-button {
  background-color: var(--lightRed) !important;
  border: 2px solid var(--superDarkRed) !important; 
  color: var(--text) !important;
  border-radius: 10px;
}

.main-button:hover {
  background-color: var(--darkRed) !important;
  color: var(--superLightRed) !important;
}

main {
  background-color: var(--three);
  width: 1500px;
  min-height: 100%;
  display: flex;
  margin-bottom: 50px;
}

.main-sidebar {
  background-color: var(--sideBar);
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  border-bottom: 5px solid var(--superDarkRed);
  border-left: 5px solid var(--superDarkRed);
  border-bottom-right-radius: 20px;
}


.image-gallery {
  padding-top: 20px;
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-gallery-logo {
  height: 45px;
  width: 45px;
  margin: 5px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
  position: relative;
  z-index: 1;
}

.image-gallery-recents-header {
  margin: 0;
  margin-bottom: 10px;
}

.recents {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100px;
  padding-bottom: 25px;
  border-bottom: 5px solid var(--superDarkRed);
  position: relative;
  z-index: 1;
}

.recents-div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5px;
  margin-left: 10px;
  margin-right: 0;
}

.recents-all {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  position: absolute;
  z-index: 0;
}

.recents-logo:hover {
  cursor: pointer;
}


.recents-active {
  background-color: var(--medRed);
}


.image-gallery-all:hover{
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
}

.image-gallery-logo-selection {
  width: 95%;
  margin-top: 20px;
  overflow-y: auto;
  height:min-content;
  display: flex;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--medRed); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--darkRed); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--nine); 
}

.card-data {
  height: 30%;
  width: 90%;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-top: 5px solid var(--superDarkRed);
  margin-bottom: 30px;
}

.card-data-p {
  font-size: 1em;
  font-weight: bolder;
}

.card-data input {
  height: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  width: 80%;
  padding-left: 15px;
  border-radius: 10px;
}

.card-data button {
  border: none;
  height: 35px;
  font-size: 1.2em;
  width: 50%;
  margin: 5px;
}

.card-data button:hover {
  cursor: pointer;
  background-color: var(--four);
}

.gallery-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery-section-header {
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  border-bottom: 2px solid var(--superDarkRed);
}

.deck-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bgClear);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.close-deck-btn {
  position: absolute;
  top: 20px;
  font-size: 1.2em;
  color: var(--eight);
}

.close-deck-btn:hover {
  cursor: pointer;
  background-color: var(--four);
  color: var(--two);
}

.deck-container {
  width: 85%;
  height: 85%;
  position: relative;
  display: flex;
  margin-bottom: 40px;
}

.deck {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 90%;
  height: 100%;
  z-index: 2;
  background-color: var(--superLightRed);
  padding: 30px;
  overflow: auto;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.deck-card {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-card:hover .deck-card-overlay {
  visibility: visible;
}

.deck-card-overlay {
  visibility: hidden;
  background-color: var(--bgClear);
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
  border-radius: 10px;
}

.deck-card-overlay-section {
  margin: 10px;
  background-color: var(--superLightRed);
  color: var(--superDarkRed);
  padding: 1px;
  border-radius: 10px;
}

.deck-card-overlay-section:first-child {
  margin-top: 40px;
}

.deck-card-overlay-section p {
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bolder;
}

.deck-card-header {
  font-size: 1.3em;
  font-weight: bolder;
  text-align: center;
}

.deck-card-subheader {
  font-size: 1.1em;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deck-card-sub-item {
  font-size: 1.3em;
  float: right;
}

.deck-card-zoom-btn {
  height: 30px;
  background-color: var(--superLightRed);
  border: 1px solid var(--darkRed);
  color: var(--superDarkRed);
  font-weight: bolder;
  margin-left: 10px;
  border-radius: 8px;
}

.deck-card-zoom-btn:hover {
  background-color: var(--darkRed);
  cursor: pointer;
  color: var(--lightRed);
  border: 1px solid var(--superLightRed);
}

.delete-card-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--medRed);
  border: 1px solid var(--superDarkRed);
  color: var(--superDarkRed);
  font-weight: bolder;
}

.delete-card-btn:hover {
  cursor: pointer;
  background-color: var(--darkRed);
  color: var(--superLightRed);
}

.deck-sidebar {
  padding: 30px;
  width: 10%;
  margin-left: 20px;
  height: fit-content;
  padding-bottom: 50px;
  background-color: var(--superLightRed);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  color: var(--text);
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.deck-sidebar input {
  width:95%;
  height: 30px;
  font-size: 1em;
  color: var(--text);
  padding-left: 10px;
  border: 1px solid var(--superDarkRed);
  border-radius: 10px;
}

.deck-sidebar-label {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 10px;
}

.deck-sidebar select {
  width: 100%;
  height: 30px;
  font-size: 1em;
  color: var(--text);
  border: 1px solid var(--superDarkRed);
  background-color: white;
}

.deck-sidebar-value-container {
  background-color: white;
  border: 1px solid var(--superDarkRed);
  margin-top: 60px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-size: 1.2em;
  border-radius: 10px;
}


.main-section {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--superLightRed);
  border-left: 5px solid var(--superDarkRed);
  border-bottom: 5px solid var(--superDarkRed);
  border-bottom-left-radius: 20px;
}

.main-section-display-window {
  width: 100%;
  min-height: 55%;
  border-bottom: 3px solid var(--superDarkRed);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
}

.card-added {
  position: absolute;
  color: white;
  background-color: green;
  padding: 5px;
  border: 2px solid var(--superDarkRed);
  font-size: 1.5em;
  right: 10%;
  top: 10%;
  pointer-events: none;
  border-radius: 10px;
}

.main-section-display-pokemon {
  height: 90%;
  margin-left: 50px;
  margin-right: 50px;
}

.stats-container {
  width: 60%;
  height: 87%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--superDarkRed);
  font-weight: bold;
}

.stat {
  width: 100%;
  margin: 5px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}

.stat-pokemon-name {
  font-size: 1.3em;
}

.stat-span-description {
  text-decoration: underline;
}

.stats-container > div:nth-last-child(2) {
  position: relative;
  margin-bottom: 20px;
}

.stat-btn {
  margin-top: auto;
  width: 80%;
  display: flex;
  background-color: var(--sideBar);
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  border: 3px solid var(--superDarkRed);
}

.stat-btn button {
  font-size: 1em;
  cursor: pointer;
}

.stat-btn-left {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-btn-left button {
  height: 35px;
}

.stat-btn-right {
  width: 25%;
  margin-left: 20px;
}

.stat-btn-cycle {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.stat-btn-cycle button {
  width: 45%;
}

.show-zoom-btn {
  width: 70%;
}

.add-btn {
  width: 100%;
  height: 100%;
  font-size: 1.3em !important;
}


.main-section-recent-window {
  height: 60%;
  overflow: auto;
  width: 90%;
  margin: 5%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.recent-pokemon-header-container {
  margin-left: 20px;
  margin-bottom: 20px;
  color: var(--superDarkRed);
  border-bottom: 2px solid var(--darkRed);
  position: relative;
}

.recent-pokemon-header {
  margin-bottom: 10px;;
}

.recent-pokemon-clear-history-btn {
  background-color: var(--superLightRed);
  border: none;
  font-size: 1.2em;
  position: absolute;
  right: 20px;
  top: 10px;
  color: var(--superDarkRed);
}

.recent-pokemon-clear-history-btn:hover {
  cursor: pointer;
  color: var(--medRed);
}

.recent-pokemon-card-container {
  height: 75%;
  display: grid;
  grid-template-columns: repeat(5, 15%);
  gap: 20px;
  width: 100%;
   
}

.recent-pokemon-card {
  width: 200px;
}

.help-background {
  position: absolute;
  z-index: 3;
  background-color: var(--bgClear);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-container-one {
  width: 70%;
  height: 80%;
  background-color: var(--superLightRed);
  padding: 20px;
  position: relative;
  border-radius: 20px;
}

.help-header {
  text-align: center;
  margin-bottom: 0;
  color: var(--superDarkRed);
}

.help-container-two {
  width: 100%;
  height: 90%;
  background-color: var(--superLightRed);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.help-container-two img {
  height: 75%;
  margin: 50px;
  margin-top: 0;
}

.help-information {
  height: 80%;
  width: 50%;
  font-size: 1.2em;
  color: var(--superDarkRed)
}

.help-close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.2em;
  color: var(--eight);
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.help-close-btn:hover {
  cursor: pointer;
}

.zoom-card-background {
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: var(--bgClear);
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom-card-container {
  width: 50%;
  height: 80%;
  background-color: var(--superLightRed);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  border-radius: 20px;
}

.zoom-card-container button {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
  font-size: 1.2em;
  cursor: pointer;
}

.zoom-card-container img {
  height: 100%;

}