html {
  width: 100%;
  height: 100%;
  --fifty: #f8fafc;
  --one: #f1f5f9;
  --two: #e2e8f0;
  --three: #cbd5e1;
  --four: #94a3b8;
  --five: #64748b;
  --six: #475569;
  --seven: #334155;
  --eight: #1e293b;
  --nine: #0f172a;
  --nineFifty: #020617;
  --bgClear: #1e293bd6;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--two);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

#root {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.header {
  width: 1500px;
  background-color: var(--five);
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 200px;
  height: 100px;
  margin-left: 10px;
}

nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

nav button {
  width: 150px;
  height: 40px;
  font-size: 1.1em;
  background-color: var(--two);
  border: 2px solid var(--two);
  border-radius: 3px;
  border-bottom: none;
}

nav button:hover {
  cursor: pointer;
  background-color: var(--four);
  color: var(--one);
}

main {
  background-color: var(--three);
  width: 1500px;
  min-height: 100%;
  display: flex;
  margin-bottom: 50px;
}

.main-sidebar {
  background-color: var(--four);
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.image-gallery {
  padding-top: 20px;
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-gallery-logo {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
  position: relative;
  z-index: 1;
}

.image-gallery-recents-header {
  margin: 0;
  margin-bottom: 10px;
}

.recents {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100px;
  padding-bottom: 20px;
  border-bottom: 5px solid black;
  position: relative;
  z-index: 1;
}

.recents-all {
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.recents-active {
  background-color: rgb(247, 170, 170);
}

.recents-div {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}





.image-gallery-all:hover{
  border: 2px solid black;
  cursor: pointer;
}

.image-gallery-logo-selection {
  margin-top: 20px;
  overflow-y: auto;
  height:min-content;
  display: flex;
  flex-direction: column;
}

.card-data {
  height: 29%;
  width: 90%;
  margin-top: 50px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: 5px solid black;
  margin-bottom: 30px;
}

.card-data-p {
  font-size: 1em;
  font-weight: bolder;
}

.card-data input {
  height: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.card-data button {
  border: none;
  height: 30px;
  width: 60%;
  margin: 5px;
  background-color: var(--two);
  border: 2px solid var(--two);
}

.card-data button:hover {
  cursor: pointer;
  background-color: var(--four);
}

.gallery-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery-section-header {
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  border-bottom: 2px solid black;
}

.deck-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bgClear);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.close-deck-btn {
  position: absolute;
  top: 20px;
  font-size: 1.2em;
  background-color: var(--three);
  border: 2px solid var(--four);
  color: var(--eight);
}

.close-deck-btn:hover {
  cursor: pointer;
  background-color: var(--four);
  color: var(--two);
}

.deck-container {
  width: 85%;
  height: 80%;
  position: relative;
  display: flex;
}

.deck {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 90%;
  height: 100%;
  z-index: 2;
  background-color: white;
  padding: 30px;
  overflow: auto;
}

.deck-card {
  position: relative;
  height: fit-content;
}

.deck-card:hover .deck-card-overlay {
  visibility: visible;
}

.deck-card-overlay {
  visibility: hidden;
  background-color: var(--bgClear);
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
  border-radius: 10px;
}

.deck-card-overlay * {
  margin-left: 10px;
  margin-right: 10px;
}

.deck-sidebar {
  padding: 30px;
  width: 10%;
  margin-left: 20px;
  height: fit-content;
  padding-bottom: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
}

.deck-sidebar input {
  width:95%;
  height: 30px;
  font-size: 1em;
}

.deck-sidebar-label {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 10px;
}

.deck-sidebar select {
  width: 100%;
  height: 30px;
  font-size: 1em;
}


.main-section {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-section-display-window {
  width: 100%;
  min-height: 50%;
  border-bottom: 5px solid var(--four);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
}

.card-added {
  position: absolute;
  color: white;
  background-color: green;
  padding: 5px;
  border: 2px solid black;
  font-size: 1.5em;
  right: 10%;
  top: 10%;
  pointer-events: none;
}

.main-section-display-pokemon {
  height: 90%;
  margin-left: 50px;
  margin-right: 50px;
}

.stats-container {
  width: 60%;
  height: 93%;
}

.stat {
  width: 100%;
  margin: 10px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}

.stat-btn {
  margin-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.stat-btn-cycle {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.stat-btn button {
  background-color: var(--two);
  font-size: 1.2em;
}

.stat-btn button:hover {
  background-color: var(--four);
  color: var(--one);
  cursor: pointer;
}

.stat-btn-cycle button {
  width: 45%;
}

.stat-btn > button {
  width: 100%;
  height: 30px;
}

.main-section-recent-window {
  height: 60%;
  overflow: auto;
  width: 90%;
  margin: 5%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.recent-pokemon-header {
  margin-left: 20px;
}

.recent-pokemon-card-container {
  height: 75%;
  display: grid;
  grid-template-columns: repeat(5, 15%);
  gap: 20px;
  width: 100%;
   
}

.recent-pokemon-card {
  width: 200px;
}

.help-background {
  position: absolute;
  z-index: 3;
  background-color: var(--bgClear);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-container-one {
  width: 70%;
  height: 80%;
  background-color: white;
  padding: 20px;
  position: relative;
}

.help-header {
  text-align: center;
  margin-bottom: 0;
}

.help-container-two {
  width: 100%;
  height: 90%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.help-container-two img {
  height: 75%;
  margin: 50px;
  margin-top: 0;
}

.help-information {
  height: 70%;
  width: 50%;
  font-size: 1.2em;
}

.help-close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.2em;
  background-color: var(--three);
  border: 2px solid var(--four);
  color: var(--eight);
}

.help-close-btn:hover {
  cursor: pointer;
  background-color: var(--four);
  color: var(--two);
}